img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-md);
}

.project a {
    margin: 1rem 0;
    display: inline-block;
    background-color: var(--button-1-bg);
    color: var(--h-color);
    border: thin solid var(--card-border-color);
    box-shadow: none;
}

.project a:hover{
    box-shadow: 0 0 0 5px var(--button-1-shadow);
}

.project h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.project p{
    margin: 1rem auto;
    color: var(--text-300);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
    // letter-spacing: 1px;
}
