---
import Contact from "../../components/forms/Contact.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contacto">
    <section class="contact-header">
        <aside>
            <h2>Contacto</h2>
            <span>Label</span>
        </aside>
        <h1>Contactame aqui</h1>
        <p>Estas interesadoe en mis servicios, contactame respondere a la brevedad.</p>
        <Contact></Contact>
    </section>
</Layout>

<style>
     h2{
        margin: 0 auto;
    }
    section{
        padding: 0.5rem 1.5rem;
    }
</style>