---
import Contact from "../../components/forms/Contact.astro";
import Layout from "../../layouts/Layout.astro";
const description = `Estas interesado en contratar mis servicios o buscas alguna asesoria, ponte en contacto conmigo o bien revisa mi información de contacto.`;
---
<Layout title="Contacto" description={description}>
    <section class="contact-header">
        <aside>
            <h2>Contacto</h2>
            <p>Disponible</p>
        </aside>
        <h1>Contactame aqui</h1>
        <p>Estas interesadoe en mis servicios, contactame respondere a la brevedad.</p>
        <Contact></Contact>
    </section>
</Layout>

<style>
     h2{
        margin: 0 auto;
    }
    section{
        padding: 0.5rem 1.5rem;
    }
    aside{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    aside h2, aside p{
        margin: 0;
        color: var(--p-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    aside h2::before{
        content: "";
        display: inline-block;
        margin-right: 0.5rem;
        border-radius: 50%;
        width: 9px;
        height: 9px;
        background-color: var(--dash-color);
    }

    aside p{
        width: 24px;
        height: 24px;
        background-color: rgba(40, 199, 128, 0.15);
        /* padding: 0.15rem 1rem; */
        border-radius: 50%;
        color: rgb(3,151,84);
        font-weight: 600;
        text-indent: -9999px;
        font-size: 1rem;
    }
    aside p::before{
        content: "";
        background-color: rgba(40, 199, 128, 1);
        border-radius: 50%;
        width: 9px;
        height: 9px;
    }

    h1{
        margin: 2rem auto;
        font-size: 2rem;
    }

    p{
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    @media screen and (min-width:540px) {
        aside p{
            width: auto;
            height: auto;
            padding: 0.1rem 0.5rem;
            border-radius: 1rem;
            text-indent: 0;
        }
        aside p::before{
            content: "";
            width: 8px;
            height: 8px;
            margin-right: 0.5rem;
        }
    }

</style>