---
import { height } from "@mui/system";

interface MetaData{
  title: string,
  pubDate: Date,
  description: string,
  author: string,
  tags: string[],
  slug: string,
  category : string
}



---
<nav class="collapsible-menu">
      <ul class="collapsible-nav">
        <li><a href="#">Main</a></li>
      </ul>
</nav>
<style>

.collapsible-menu{

}

.collapsible-checkbox{
  display:none;
  width: 0;
  height: 0;
}
.collapsible-checkbox:checked ~ .collapsible-content{
  height: calc(var(--items) * var(--li-height));
}

.collapsible-checkbox:checked ~ .collapsible-label i:first-of-type>svg{
   transform: rotate(180deg);
}

.collapsible-label i>svg{
    transition: all 0.4s ease-in-out;
}

.collapsible-label{
    display: block;
    width: 100%;
    padding: 0.8rem;
    display: flex;
    border-top: 2px solid #ccc;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--text-400);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.collapsible-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}




.collapsible-content{
  --li-height:48px;
  height:0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.collapsible-content ul{
  list-style:none;
  padding:0;
  margin: 0;
}

.collapsible-content ul>li{
    display: block;
    height: var(--li-height);
    padding: 0.5rem 1.5rem;
}
.collapsible-content ul>li:hover{
     background-color: #ddd;
}

.collapsible-nav li{
    position: relative;
}
.collapsible-nav li>a{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    padding: 1rem 2rem;
    display: block;
    vertical-align: middle;
    text-decoration: none;
    color: var(--text-300);
    font-weight: 500;
}


.collapsible-menu:last-of-type .collapsible-nav li:last-of-type{
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
svg{
    width: 32px;
    height: 32px;
}
.category-name{
  text-transform: capitalize;
}
</style>
