---
//get the active link
// const {navMode,mode} = Astro.props;
const currentPathName = new URL(Astro.request.url).pathname;
const paths = ["/","/about/","/projects/","/notes/"];
const pathIdx = paths.indexOf(currentPathName);
const translateDist = pathIdx > 0 ? pathIdx*100 : 0;
---

<nav class="main-navbar">
    <ul class="main-tabs">
        <!-- { navMode && -->
            <!-- <> -->
                <li>
                    <a
                        href="/"
                        class:list={[ 'round-button', { "active": currentPathName==="/" }]} 
                        data-translate-value="0"
                        data-color="red"
                    >
                        <svg
                            class:list={[{ "active-icon": currentPathName==="/" }]} 
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-smart-home"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M19 8.71l-5.333 -4.148a2.666 2.666 0 0 0 -3.274 0l-5.334 4.148a2.665 2.665 0 0 0 -1.029 2.105v7.2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-7.2c0 -.823 -.38 -1.6 -1.03 -2.105"
                            ></path><path d="M16 15c-2.21 1.333 -5.792 1.333 -8 0"
                            ></path></svg>
                    </a>
                </li>
                <li>
                    <a
                        href="/about/"
                        class:list={[ 'round-button', { "active": currentPathName==="/about/" }]} 
                        style="--round-button-active-color: #2962ff"
                        data-translate-value="100%"
                        data-color="blue"
                        
                    >
                        <svg
                            class:list={[{ "active-icon": currentPathName==="/about/" }]} 
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                            ></path><path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
                            ></path><path
                                d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"
                            ></path></svg>
                    </a>
                </li>
                <li>
                    <a
                        href="/projects/"
                        class:list={[ 'round-button', { "active": currentPathName==="/projects/" }]} 
                        style="--round-button-active-color: #00c853"
                        data-translate-value="200%"
                        data-color="green"
                    >
                        <svg
                            class:list={[{ "active-icon": currentPathName==="/projects/" }]} 
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
                            ></path><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"
                            ></path><path d="M12 12l0 .01"></path><path
                                d="M3 13a20 20 0 0 0 18 0"></path></svg>
                    </a>
                </li>
                <li>
                    <a
                        href="/notes/"
                        class:list={[ 'round-button', { "active": currentPathName==="/notes/" }]} 
                        style="--round-button-active-color: #aa00ff"
                        data-translate-value="300%"
                        data-color="purple"
                    >
                        <svg
                            class:list={[{ "active-icon": currentPathName==="/notes/" }]} 
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-notebook"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18"
                            ></path><path d="M13 8l2 0"></path><path d="M13 12l2 0"
                            ></path></svg>
                    </a>
                </li>

    </ul>
    <div class="main-slider" aria-hidden="true" style=`transform:translateX(${translateDist}%)`>
        <div class="main-slider-circle" >&nbsp;</div>
    </div>
</nav>

<style>
    button {
        border: none;
        cursor: pointer;
        background-color: transparent;
        outline: none;
    }

    .main-navbar {
        width: 40%;
        height: 100%;
        user-select: none;
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .main-tabs {
        position: relative;
    }

    ul.main-tabs {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    ul.main-tabs li {
        display: inline-flex;
        position: relative;
        padding: 0.25rem;
        z-index: 1;
    }

    .round-button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--grey-900);
        cursor: pointer;
    }

    .round-button:hover,
    .round-button.active {
        /* color: var(--round-button-active-color); */
    }

    .round-button svg {
        pointer-events: none;
        height: 28px;
        width: 28px;
        stroke: var(--stroke-inactive);
        transform: translate(0, 0);
    }

    .active-icon{
        stroke: var(--stroke-active) !important;
    }

    .main-slider {
        pointer-events: none;
        position: absolute;
        /* top: 0; */
        left: 0;
        padding: 0.25rem;
        z-index: 0;
        transition: transform 0.4s ease-in-out;
    }

    .main-slider-circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        transition: background-color 0.4s ease-in-out;
        background-color: var(--hover-400);
    }

    .animate-jello {
        animation: jello-horizontal 0.9s both;
    }

    @keyframes jello-horizontal {
        0% {
            transform: scale3d(1, 1, 1);
        }
        30% {
            transform: scale3d(1.25, 0.75, 1);
        }
        40% {
            transform: scale3d(0.75, 1.25, 1);
        }
        50% {
            transform: scale3d(1.15, 0.85, 1);
        }
        65% {
            transform: scale3d(0.95, 1.05, 1);
        }
        75% {
            transform: scale3d(1.05, 0.95, 1);
        }
        100% {
            transform: scale3d(1, 1, 1);
        }
    }

    svg {
        pointer-events: none;
        
    }
</style>

<script src="../scripts/SlidingNavbar.js"></script>
