---
import { Image } from "astro:assets";
import logo from "../assets/music-note.png";
const { title, imgSrc, imgAlt, tag = "test" } = Astro.props;
---

<article class="small-card">
    <figure class="small-card-img">
        <Image src={imgSrc} alt={imgAlt} />
        <figcaption>{title}</figcaption>
    </figure>
    <nav class="small-card-nav">
        <a href="/" class="rounded-button" data-tip-text="Codigo" aria-label="Abrir enlace hacia el codigo">
            <i>
                <svg width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file-code"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M10 13l-1 2l1 2" /><path d="M14 13l1 2l-1 2" /></svg>
            </i>
        </a>
        <a href="/" class="rounded-button" data-tip-text="Preview" aria-label="Abrir enlace vista en vivo">
            <i>
                <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up-right"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path></svg
            >
            </i>
        </a>
    </nav>
</article>

<style>
    .small-card {
        position: relative;
        width: 100%;
        margin: 1rem auto;
        padding: 0.5rem 1rem;
        background-color: var(--card-bg);
        border: thin solid var(--border-color-2);
        border-radius: var(--border-radius-md);
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* box-shadow: 0px 0px 0px 1px var(--card-shadow); */
        transition: box-shadow 0.35s ease-in-out;
    }
    
    .small-card:hover {
        box-shadow: 0px 0px 0px 5px var(--shadow-color-3);
    }


    .small-card-img{
        width: 60%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }
    .small-card-img img {
        max-width: 36px;
        height: auto;
        background-color: var(--section-bg);
        border-radius: 50%;

    }
    .small-card-img figcaption{
        font-size: 1rem;
        font-weight: 500;
        color: var(--h-color);
        text-wrap: pretty;
    }

    .small-card-nav{
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .small-card-nav a svg{
        stroke: var(--svg-inactive);
        transition: stroke 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    .small-card-nav a:hover svg{
        stroke: var(--svg-active);
        transform: scale(1.15);
    }

    @media screen and (min-width: 720px) {
        .small-card{
            width: 92.5%;
            padding: 0.75rem 2rem;
        }
        .small-card-img img{
            width: 48px;
        }

        .small-card-nav{
            width: 20%;
        }
        .small-card-img figcaption{
            font-size: 1.28rem;
        }
    }

</style>
